attrs==19.3.0
aws-cdk.core==1.31.0
aws-cdk.cx-api==1.31.0
aws-cdk.aws-events==1.31.0
aws-cdk.aws-events-targets==1.31.0
aws-cdk.aws-iam==1.31.0
aws-cdk.aws-lambda==1.31.0
aws-cdk.aws-lambda-event-sources==1.31.0
aws-cdk.aws-s3==1.31.0
aws-cdk.aws-s3-assets==1.31.0
aws-cdk.aws-sqs==1.31.0
cattrs==1.0.0
constructs==2.0.0
entrypoints==0.3
flake8==3.7.9
jsii==1.1.0
mccabe==0.6.1
publication==0.0.3
pycodestyle==2.5.0
pyflakes==2.1.1
python-dateutil==2.8.1
six==1.14.0
typing-extensions==3.7.4.1
