attrs==20.3.0
Automat==20.2.0
aws-cdk.assets==1.106.1
aws-cdk.aws-apigateway==1.106.1
aws-cdk.aws-applicationautoscaling==1.106.1
aws-cdk.aws-autoscaling==1.106.1
aws-cdk.aws-autoscaling-common==1.106.1
aws-cdk.aws-autoscaling-hooktargets==1.106.1
aws-cdk.aws-certificatemanager==1.106.1
aws-cdk.aws-cloudformation==1.106.1
aws-cdk.aws-cloudfront==1.106.1
aws-cdk.aws-cloudwatch==1.106.1
aws-cdk.aws-codebuild==1.106.1
aws-cdk.aws-codecommit==1.106.1
aws-cdk.aws-codeguruprofiler==1.106.1
aws-cdk.aws-codepipeline==1.106.1
aws-cdk.aws-cognito==1.106.1
aws-cdk.aws-dynamodb==1.106.1
aws-cdk.aws-ec2==1.106.1
aws-cdk.aws-ecr==1.106.1
aws-cdk.aws-ecr-assets==1.106.1
aws-cdk.aws-ecs==1.106.1
aws-cdk.aws-efs==1.106.1
aws-cdk.aws-elasticloadbalancing==1.106.1
aws-cdk.aws-elasticloadbalancingv2==1.106.1
aws-cdk.aws-events==1.106.1
aws-cdk.aws-events-targets==1.106.1
aws-cdk.aws-globalaccelerator==1.106.1
aws-cdk.aws-iam==1.106.1
aws-cdk.aws-kinesis==1.106.1
aws-cdk.aws-kinesisfirehose==1.106.1
aws-cdk.aws-kms==1.106.1
aws-cdk.aws-lambda==1.106.1
aws-cdk.aws-lambda-event-sources==1.106.1
aws-cdk.aws-logs==1.106.1
aws-cdk.aws-route53==1.106.1
aws-cdk.aws-route53-targets==1.106.1
aws-cdk.aws-s3==1.106.1
aws-cdk.aws-s3-assets==1.106.1
aws-cdk.aws-s3-notifications==1.106.1
aws-cdk.aws-sam==1.106.1
aws-cdk.aws-secretsmanager==1.106.1
aws-cdk.aws-servicediscovery==1.106.1
aws-cdk.aws-signer==1.106.1
aws-cdk.aws-sns==1.106.1
aws-cdk.aws-sns-subscriptions==1.106.1
aws-cdk.aws-sqs==1.106.1
aws-cdk.aws-ssm==1.106.1
aws-cdk.aws-stepfunctions==1.106.1
aws-cdk.cloud-assembly-schema==1.106.1
aws-cdk.core==1.106.1
aws-cdk.custom-resources==1.106.1
aws-cdk.cx-api==1.106.1
aws-cdk.region-info==1.106.1
boto3==1.17.83
botocore==1.20.83
cattrs==1.5.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
constantly==15.1.0
constructs==3.3.75
coverage==5.1
cryptography==36.0.2
cssselect==1.1.0
docker==5.0.0
filelock==3.6.0
flake8==3.9.2
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
itemadapter==0.5.0
itemloaders==1.0.4
Jinja2==3.0.1
jmespath==0.10.0
jsii==1.30.0
lxml==4.8.0
MarkupSafe==2.0.1
mccabe==0.6.1
more-itertools==8.8.0
moto==2.0.8
numpy==1.22.3
packaging==20.9
parsel==1.6.0
pluggy==0.13.1
Protego==0.2.1
publication==0.0.3
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
PyDispatcher==2.0.5
pyflakes==2.3.1
pyOpenSSL==22.0.0
pyparsing==2.4.7
pytest==5.4.1
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
queuelib==1.6.2
requests==2.25.1
requests-file==1.5.1
responses==0.13.3
rsa==4.7.2
s3transfer==0.4.2
Scrapy==2.6.1
service-identity==21.1.0
six==1.16.0
tldextract==3.2.0
Twisted==22.2.0
typing-extensions==3.10.0.0
urllib3==1.26.5
w3lib==1.22.0
wcwidth==0.2.5
websocket-client==1.0.1
Werkzeug==2.0.1
xmltodict==0.12.0
zope.interface==5.4.0
